<form id="form" action="{{ path('ajouterPromotion') }}" method="post">
    <input type="text" name="name" placeholder="Name"> <br>
    <input type="number" name="value" placeholder="Value"> <br>
    <input type="date" name="date"> <br>
    <input type="number" name="ndays"> <br>
    <input type="submit" value="Ajouter"> <br>
</form>
